html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.btnPrimario {
    background-color: #ff5720;
    border-color: #ff5720;
}

.btnPrimario:hover {
    background-color: #e85a0c;
    border-color: #e85a0c;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.leaflet-routing-add-waypoint,
.leaflet-routing-alt {
    display: none;
}
